@import "http://";
@charset "utf-8";

/***** default styles
*******************************************/

body {
	font-size: 13px;
	*font-size: small; /* IE7 */
	*font: x-small; /* IE6 */
}

* {line-height: 1.6;font-size: 100%;}


/***** text styles
*******************************************/

html {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	color: #5D5D5D;
	margin:0 auto;
	padding:0;
	font-family: Verdana, Arial, "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", sans-serif;
}

p {
	line-height: 1.9;
	text-align: justify;
	text-justify: distribute;
}

p, ul, ol, dl, table, pre {
	font-size: 100%;
	letter-spacing: 0.02em;
}

img {border: 0;	vertical-align: bottom;}


/***** layout styles
*******************************************/

#head {
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: 2px solid #cccccc;
	font-size: 180%;
}

h1 {
	font-size: 200%;
	font-weight:normal;
	text-align: left;
	margin-top: 30px;
	margin-left: 170px;
	padding:0;
}

h2 {
	font-size: 100%;
	font-weight:normal;
	margin:0;
	padding:0;

}

h3 {
	font-size: 110%;
}

h4 {
	font-size: 130%;
	font-weight:normal;
	margin:2.5em 0 1em 0;
	padding:0 0 5px 10px;
	border-bottom: 1px solid #cccccc;
}

#main{
	letter-spacing: 0.1em;
	font-size: 110%;
	margin:0 3em;
	line-height: 1.9;
}

#footer {
	margin: 3em 0 0 0;
	padding: 1.5em 0 1em 0em;
	border-top: 2px solid #cccccc;
	line-height: 1.9;
	text-align: center;
	letter-spacing: 0.1em;
}

/* --- コンテナ --- */
#container {
width: 100%; /* ページの幅 */
height: 100%;
margin: 0 0; /* センタリング */
background-color: #ffffff; /* メインカラムの背景色 */
}

#containerInner {
width: 100%;
height: 100%;
}

#headButton{
	position: relative;
}

#mypage{
	margin-left: 72%;
	margin-top: 15px;
}

#google{
	position: absolute;
	margin-left: 90%;
	margin-top: -28px;
}

#searchform1 {  
    position: relative;  
    text-align: left;
}  
#keywords1  { 
	margin-top: 100px; 
	margin-left: 80px;
    width: 674px;  
    height: 24px; 
    text-align: left;
    border: 1px solid #CCC;  
    padding: 2px 2px 2px 2px;  
}  
#searchBtn1 {  
	margin-top: 100px; 
	height: 30px;
    position: absolute;  
    top: 0;  
    left: 760px;  
}  

#headerArea {  
    position: fixed !important;  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 50px;  
    background-color: #4E9ABE;  
    color: #fff;
    z-index: 2;  
}  

#serviceTitle{
	position: absolute;
	margin-left: 43%;
	font-size: 30px;
}

.backView{
	font-size: 200%;
	font-weight:normal;
	text-align: left;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 120px;
	padding:0;
	width: 11%;
   	background: #a7c1df;
   	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px;   
}

.contentView{
	width: 75%;
	height: 100px;
	margin-left: 120px;
	margin-top: 30px;
	border: 1px solid gray;
	border-radius: 10px;        /* CSS3草案 */  
    -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 10px; 

}

input.google {
	width: 40%;
	height: 40%;
}


